@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.day:before {
   content: "\f185";
   font-family: FontAwesome;
   color: crimson;   
}

.night:before {
content: "\f186";
font-family: FontAwesome;
color: blueviolet;
}